<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>김밥나라 POS</title>
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<style>
		.layout_title {
			width: 90%;
			text-align: center;
			font-size: 100px;
		}
	</style>
</head>

<body>
	<div class="layout_title">김밥나라 POS</div>
</body>
</html>